<br>
<br>
<br>
<br>
<br>
<br>

<!-- User Sign in -->

  <form for="/session/new" method="POST"  class="pure-form pure-form-stacked">
    <fieldset>

        <label for="email"></label>
        <input id="email" type="email" placeholder="email" autofocus="true">

        <label for="password"></label>
        <input id="password" type="password" placeholder="password">

        <button type="submit" class="pure-button pure-button-primary">sign in</button>
    </fieldset>
</form>

<br>
<br>



<!-- User NEW -->

  <form for="/user" method="POST" class="pure-form pure-form-stacked">
    <fieldset>

        <label for="name"></label>
        <input id="name" type="text" placeholder="username">

        <label for="email"></label>
        <input id="email" type="email" placeholder="email" autofocus="true">

        <label for="password"></label>
        <input id="password" type="password" placeholder="password">

        <label for="password"></label>
        <input id="password" type="password" placeholder="password">

        <button type="submit" class="pure-button pure-button-primary">sign in</button>
    
    </fieldset>
</form>

