  <form for="/login" method="POST"  class="pure-form pure-form-stacked">
    <fieldset>

        <label for="email"></label>
        <input id="email" type="email" name="email" placeholder="email" autofocus="true">

        <label for="password"></label>
        <input id="password" type="password" name="password" class="pure-input-rounded" placeholder="password">

        <button type="submit" class="pure-button pure-button-primary">sign in</button>
    </fieldset>
</form>



