<div id="fishGame">
<h5 id="scoreTally">SCORE</h5>
    <div id='waveOne'>
    </div>

    <div id='waveTwo'>
    </div>

    <div id='fishLoop'>
        <div id='fish'>
        </div>
    </div>

</div>