#gameBox {
  position: absolute;
  left: 15%;
  top: 900px;
  width: 70%;
  height: 80%;
  background-color: papayawhip;
  margin:0px auto;
  z-index: -100
}

canvas {
  margin-top: 5px;
  height: 95%;
  margin: 0px auto;
}

#clawGlass {
  position: relative;
  width: 80%;
  height: 80%;
  left : 10%;
  top: 5%;
  background-color: rgba(200,200,255,0.3);
}

#clawTop {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0%;
  background-color: silver;
}

#clawTop li {
  display: inline-block;
}

#clawArm {
  position: relative;
  left: 50%;
  height: 8%;
  width: 3%;
  top: 5%;
  background-color: darkgray;
  z-index: 50;
}

#clawArm svg {
  fill: currentColor;
}

#leftClaw {
  position: absolute;
  overflow: visible;
  left: -34px;
  top: 14px;
}
#rightClaw {
  position: absolute;
  overflow: visible;
  left: -256px;
  top: 14px;
  transform: scaleX(-1);
}

.gameController {
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.gameController h5{
  text-align: center;
}

.clawButtons {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  height:50px;
  width: 50px;
  border-radius: 50%;
  background-color:red;
}