.gameBox {
  position:relative;
  top:700px;
  width: 400px;
  height: 400px;
  background-color: brown;
  margin:0px auto;
}

#clawGlass {
  position: relative;
  width: 80%;
  height: 80%;
  left : 10%;
  top: 5%;
  background-color: rgba(200,200,255,0.3);
}

#clawTop {
  position: absolute;
  height: 10px;
  width: 100%;
  top: 5%;
  background-color: silver;
}

#clawArm {
  position: relative;
  left: 50%;
  height: 8%;
  width: 3%;
  top: 5%;
  background-color: darkgray;
}

#clawArm svg {
  fill: currentColor;
}

#leftClaw {
  position: absolute;
  overflow: visible;
  left: -34px;
  top: 14px;
}
#rightClaw {
  position: absolute;
  overflow: visible;
  left: -256px;
  top: 14px;
  transform: scaleX(-1);
}

.gameController {
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.gameController h5{
  text-align: center;
}

.clawButtons {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  height:50px;
  width: 50px;
  border-radius: 50%;
  background-color:red;
}