#fishGame {
	position: relative;
	width: 500px;
	height: 100%;
	margin: 0 auto;
	background: url('fishing/fishTacoBKG.png');
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: -1000;
	overflow: hidden;
}

#waveOne {
	position: absolute;
	top: 70%;
	left:-5%;
	width: 600px;
	height: 250px;
	margin: 0 auto;
	background: url('fishing/fishTacoWave.png');
	background-size: 170%;
	background-repeat: no-repeat;
	z-index: 150;
	transform: rotate(5deg);
	overflow: hidden;
}

#waveTwo {
	position: absolute;
	top: 80%;
	left:-5%;
	width: 600px;
	height: 250px;
	margin: 0 auto;
	background: url('fishing/fishTacoWave.png');
	background-size: 170%;
	background-repeat: no-repeat;
	z-index: 500;
	transform: rotate(-5deg)
	overflow: hidden;
}

#fishLoop {
	top: 80%;
	width: 500px;
	position: relative;
}

#fish {
	position: absolute;
	top: 90%;
	left: 80%;
	width:100px;
	height: 100px;
	margin: 0 auto;
	background-image: url('fishing/fishTaco.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1000;
}

#fish :hover {
	cursor: pointer;
	width:110px;
	height:110px;
}

#fish2 {
	position: absolute;
	top: 110%;
	left: 50%;
	width:100px;
	height: 100px;
	margin: 0 auto;
	background-image: url('fishing/fishTaco.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1000;
	opacity: 0.5;
}

#catch {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 225px;
	top: 85%;
	background-color: white;
	border-radius: 25%;
	z-index:2000;
}

#catch :hover {
	height: 60px;
	width: 60px;
	left:220px;
}