/* Login Page Form */

.login-page {
  width: 180px;
  text-align: center;
  margin: auto;
  margin-top: 120px;
}

.edit-user-profile {
  width: 180px;
  text-align: center;
  margin: auto;
  margin-top: 120px;
} 


.new-user {
  width: 180px;
  text-align: center;
  margin: auto;
  margin-top: 120px;
} 
 






/*.pure-input-rounded {
  margin: 0px auto;
  margin-top: 10px;
  outline: 0; 
  text-align: center;
}
*/

#email {
  border-radius: 8px;
  margin-top: 10px;
}

#password {
  border-radius: 8px;
  margin-top: 10px;
}

.pure-button.pure-button-primary {
  border-radius: 8px;
  margin-top: 10px;
  background-color: #B3191E;
}

.pure-button.pure-button-primary:hover {
  background-color: #DC0815;
}



#password input:focus, textarea:focus {
    outline: none;
}

/*
.button-login {
  background-color: #F89406;
  border-radius: 18px;
}*/

.pure-u-md-1-4 {
  width: 23%;
}


.pure-form:focus {
  outline:0 !important;
}








/* Edit User Form */

/*#user_email  {
  border-radius: 8px;
  margin-top: 10px;
}


#user_password {
  border-radius: 8px;
  margin-top: 10px;
}

#user_password_confirmation {
  border-radius: 8px;
  margin-top: 10px;
}*/

