.login-page {
  text-align: center;
}



.pure-input-rounded {
  margin: 0px auto;
}

.pure-button .pure-button-primary {
  background-color: black;
}


.button-login {
  background-color: #F89406;
  border-radius: 18px;
}

.pure-u-md-1-4 {
  width: 23%;
}