/* * * GAME BOX - POSITION WHERE GAMES ARE DISPLAYED * * */

html body {
  max-height: 100vh;
  overflow: hidden;
  background-color: ghostwhite;
}


#gameBox {
    display:none;
    position: absolute;
    left: 15%;
    top: 110%;
    width: 70%;
    height: 84%;
    background-color: snow;
    box-shadow: 0 0 14px silver;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 0.3%;
    z-index: 10;
    text-align: center;
}

/* * * CANVAS * * */






/*.coinButton {
    width: 10px;
    height: 10px;
    background-color: red;
    margin:10px;
}*/


/*gameSelect {
    width: 29%;
    text-align: center;
    margin: 1em;
    border-radius: 50%;
    background-color: #E74C3C;
    box-shadow: 0 0 90px white;
}*/

/* * * CLAW * * */
#theClaw {
    background-image: url('claw/claw.png');
    position:absolute;
    top:0;
    left:45%;
    height: 119px;
    width:83px;
    z-index: -10;
}


/* * * GAME TITLE * * */
/*.gameTitle {
    overflow: auto;
    color: #303030;
    text-shadow: 0 0 1px grey;
    font-size: 20px;
}
*/



.pure-menu-heading {
  font-family: 'Bangers', cursive;
  font-size: 24px;
  color: #DC0815;
  letter-spacing: 3px;
}

.pure-menu-heading:hover {
  color: #B3191E;
}



.pure-menu {
/*  margin-top: -10px;
*/
height: 44px;
}



#gameSelector h1 {
    text-align: center;
    
}


/*styling for individual game icons on home page*/
.gameInfo {
  margin: 10px;
}

.gameSelect {
  top: 20%;
  height: 300px;
  background-color: grey;
  background-image: contain;
  background-repeat: no-repeat;
  margin-top: 90px;
  border-radius: 10px;
  opacity: 0.5;
  cursor: pointer;
  box-shadow: 0 0 5px black;
  -webkit-transition: -webkit-filter 0.2s, opacity 0.2s;
  -webkit-filter: saturate(15%);
}

.gameDiv {
  margin: 12px;
}

.gameDiv :hover{
  opacity: 1;
  -webkit-filter: saturate(100%)
}



.instructions {
  margin: 0px auto;
  width: 240px;
}

#Taco {
  background: url('fishing/fishingGameIcon.png');
  background-size: cover;
}

#Slide {
  background: url('burgerStacker/stackerGameIcon.png');
  background-size: cover;
}

#Bean {
  background: url('beans/beanicon.png');
  background-size: cover;
}

#Fluffy {
  background: url('fluffygelatoicon.png');
  background-size: cover;
}




.pure-menu {
    background-color: #303030;
}


.gameController h5 {
    text-align: center;
}

/*.clawButtons {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E67E22;
}*/


/* * * FOOTER * * */
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background: #303030;
    color: #888;
    text-align: center;
    z-index:50;
}

.footerL {
    display: inline-block;
}

/*#coinForUser {
  position: relative;
  color: white;
  width: 50px;
  height: 50px;
  background-color: teal;
  bottom: 25px;
  text-align: center;
  margin-right: 10px;
}*/


#coinForUser {
position: absolute;
  top: -45px;
  left: 6%;
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-family: 'Helvetica Neue',sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 33px;
  text-shadow: 0 -1px 0 #476b6b;
  border-radius: 10px;
}


#addCoins {
  position: absolute;
  top: 10px;
  left: 85%;
}

#lessCoins {
  position:absolute;
  top: 10px;
  left: 88%;
}


.coinButton {
  margin: 0 10px 40px 0;
  width: 30px;
  height: 30px;
/*  border: solid 1px #ffffff;*/
  color: #ffffff;
  font-family:'Helvetica Neue',sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  font-size: 20px;
  text-shadow: 0 -1px 0 #476b6b;
  border-radius: 25%;
  }


  .coinButton {
   border-top: 1px solid #5e5e5e;
   background: #474747;
   background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#474747));
   background: -webkit-linear-gradient(top, #1a1a1a, #474747);
   background: -moz-linear-gradient(top, #1a1a1a, #474747);
   background: -ms-linear-gradient(top, #1a1a1a, #474747);
   background: -o-linear-gradient(top, #1a1a1a, #474747);
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   }
   .coinButton:hover {
   border-top-color: #4a4a4a;
   background: #4a4a4a;
   color: #ffffff;
   }
   .coinButton:active {
   border-top-color: #212121;
   background: #212121;
   }




/*#redeemDisplay {
    position: absolute;
    top: 10px;
    left:20%;
    margin-right: 50px;
    background-size: contain;
    background-image: url('layout/prize.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    vertical-align: text-bottom;
    cursor: pointer;
}

#redeemDisplay h5{
    margin-top: 28px;
    margin-left: -20px;
    color: black;

}

#redeemDisplay :hover {
    color: white;

}*/

/*#voucherOverlayPic {
  position: absolute;
  top: 10px;
  left:20%;
  margin-right: 50px;
  width: 100px;
  height: 50px;
  background-size: contain;
  background-image: url('layout/voucherTransparent.png');
  background-repeat: no-repeat;
/*  background-color: green;*/


#redeemDisplay {
  position: absolute;
  top: 6px;
  left:85%;
  margin-right: 50px;
  width: 101px;
  height: 64px;
  color: #ffffff;
  font-family: 'Helvetica Neue',sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  line-height: 0px;
  text-shadow: 0 -1px 0 #476b6b;
  border-radius: 10%;
  background-image: url('layout/voucherTransparent.png');
  background-size: 100%;
  background-repeat: no-repeat;


}
/*#redeemDisplay {

   border-top: 1px solid #fa2d2d;
   background: #cc1212;
   background: -webkit-gradient(linear, left top, left bottom, from(#8c0000), to(#cc1212));
   background: -webkit-linear-gradient(top, #8c0000, #cc1212);
   background: -moz-linear-gradient(top, #8c0000, #cc1212);
   background: -ms-linear-gradient(top, #8c0000, #cc1212);
   background: -o-linear-gradient(top, #8c0000, #cc1212);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-decoration: none;
   vertical-align: middle;
}*/
#redeemDisplay:hover {
  background-image: url('layout/voucherTransparentHover.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  cursor: pointer;
}
#redeemDisplay:active {
  background-image: url('layout/voucherTransparentDown.png');
  background-size: 100%;
  background-repeat: no-repeat;
}





#redeemText {
  position: absolute;
  bottom: -5%;
  left: 62%;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  font-style: italic;
  text-align: right;
}

#dropBox {
    position:absolute;
    left: 84%;
    top: 23px;    
    height: 20px;
    width: 20px;
    background-image: url('layout/close-button.png');
    background-size: 100%;
    cursor: pointer;
    z-index: 9999;
}