/* * * GAME BOX - POSITION WHERE GAMES ARE DISPLAYED * * */
#gameBox {
    display:none;
    position: absolute;
    left: 15%;
    top: 110%;
    width: 70%;
    height: 80%;
    background-color: #D2527F;
    margin: 0px auto;
    z-index: 10;
    text-align: center;
}

/* * * CANVAS * * */
canvas {
    margin-top: 5px;
    height: 95%;
    margin: 0px auto;
}


.coinButton {
    width: 10px;
    height: 10px;
    background-color: red;
    margin:10px;
}


/*gameSelect {
    width: 29%;
    text-align: center;
    margin: 1em;
    border-radius: 50%;
    background-color: #E74C3C;
    box-shadow: 0 0 90px white;
}*/

/* * * CLAW * * */
#theClaw {
    background-image: url('claw/claw.png');
    position:absolute;
    top:0;
    left:45%;
    height: 119px;
    width:83px;
    z-index: -10;
}


/* * * GAME TITLE * * */
.gameTitle {
    overflow: auto;
    color: #303030;
    text-shadow: 0 0 1px grey;
    font-size: 20px;
}

#gameSelector h1 {
    text-align: center;
    cursor: pointer;
}

.pure-menu {
    background-color: #303030;
}


.gameController h5 {
    text-align: center;
}

.clawButtons {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E67E22;
}


/* * * FOOTER * * */
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background: #303030;
    color: #888;
    text-align: center;
    z-index:50;
}

.footerL {
    display: inline-block;
}

#redeemDisplay {
    margin-top: 5px;
    margin-right: 50px;
    background-size: cover;
    background-image: url('layout/prize.png');
    width: 100px;
    height: 60px;
    vertical-align: text-bottom;
    cursor: pointer;
}

#redeemDisplay h5{
    margin-top: 33px;
    color: black;

}

#redeemDisplay :hover {
    color: white;

}

#dropBox {
    position:absolute;
    right: 10px;
    top: 10px;
    background-image: url('layout/close-button.png');
    height: 20px;
    width: 20px;
    border-radius:50%;
    color: white;
    cursor: pointer;
}