#redeem {
}

#dPrizes {
  position:absolute;
  bottom:0px;
  height:90px;
  width: 100%;
}

.dPrize {
  margin: 2px;
  display:inline-block;
  width: 80px;
  height: 80px;
  background-size: cover;
  -webkit-filter: grayscale(1);
  opacity: 0.5;
}


#rubber {
  background-image: url('prizes/duck.png')
}
#teddy {
  background-image: url('prizes/teddy.png')
}
#lucky {
  background-image: url('prizes/clover.png')
}
#dirty {
  background-image: url('prizes/boot.png')
}
#kitty {
  background-image: url('prizes/kitty.png')
}
#smelly {
  background-image: url('prizes/sock.png')
}
#cactus {
  background-image: url('prizes/cactus.png')
}
#cursed {
  background-image: url('prizes/watch.png')
}
#witwicky {
  background-image: url('prizes/glasses.png')
}