#stackerScoreTally {
	position: absolute;
	color: white;
	top: 85px;
	left: 45px;
	z-index: 2;
}

#stackerScoreComplete {
	position: absolute;
	color: white;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	padding-top: 2px;
	padding-bottom: 2px;
	border: 2px solid rgb(48,48,48);
}

#stackerReset {
	background-color: grey;
	border-radius: 5px;
}

#stackerGame {
  position: relative;
	width: 56%;
	height: 100%;
	margin: 0 auto;
	background-image: url('burgerStacker/stackBurgerBKG.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

#stackCentre {
	position: absolute;
  bottom:4%;
  left:28%;
	margin: 0 auto;
	width: 40%;
	height: 80%;
	background-image: url('burgerStacker/stackerCenter.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.stack {
	position: absolute;
	width: 40%;
	height: 8%;
  bottom: 4%;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: contain;
}

#stack0 {
	background-image: url('burgerStacker/stackLayerOne.png');
}

#stack1 {
	background-image: url('burgerStacker/stackLayerTwo.png');
}

#stack2 {
	background-image: url('burgerStacker/stackLayerThree.png');
}

#stack3 {
	background-image: url('burgerStacker/stackLayerFour.png');
}

#stack4 {
	background-image: url('burgerStacker/stackLayerFive.png');
}

#stack5 {
	background-image: url('burgerStacker/stackLayerSix.png');
}

#stack6 {
	background-image: url('burgerStacker/stackLayerSeven.png');
}

#stack7 {
	background-image: url('burgerStacker/stackLayerEight.png');
}

#stack8 {
	background-image: url('burgerStacker/stackLayerNine.png');
}

#stack9 {
	background-image: url('burgerStacker/stackLayerTen.png');
	background-repeat: no-repeat;
	background-position: center;
}